.user_id-pokemon-page {
    .user-info {
        padding: 50px 0;
    }

    .user-info__container {
        display: flex;
    }

    .user-info__avatar {
        img {
            width: 100px;
            height: 100px;

            border-radius: 50%;
        }
    }

    .user-info__name {
        margin-left: 20px;

        h2 {
            font-size: 3rem;
            font-weight: 400;
        }
    }

    .user-pokemons__search {
        margin-bottom: 25px;

        input {
            width: 100%;
            max-width: 500px;

            padding: 10px;

            border: 1px solid #ccc;
            // border-radius: 5px;

            font-size: 1.2rem;
        }
    }

    .user-pokemons__list {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
        grid-gap: 20px;

        padding-bottom: 50px;
    }

    .user-pokemons__item {
        height: 200px;

        display: flex;
        gap: 50px;

        position: relative;

        padding: 25px;

        border: 1px solid #ccc;

        &::after {
            content: attr(data-shiny);

            position: absolute;
            top: 0;
            right: 0;

            font-size: 2rem;

            transform: translate(45%, -45%);
        }
    }

    .user-pokemons__item-name {
        h3 {
            font-size: 1.5rem;
        }
    }

    .user-pokemons__item-avatar {
        width: 50%;
        height: 100%;

        display: flex;
        justify-content: flex-end;

        margin-left: auto;

        img {
            width: 100%;
            height: 100%;

            object-fit: contain;

            margin-left: auto;
        }
    }
}