* {
    margin: 0;
    padding: 0;

    box-sizing: border-box;

    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 16px;
    font-weight: 200;

    color: #a7a7a7;
}

h1, h2, h3, h4, h5, h6 {
    color: #000;
}